<?xml version="1.0"?>
<psalm
    errorLevel="4"
    findUnusedVariablesAndParams="true"
    resolveFromConfigFile="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <projectFiles>
        <directory name="src"/>
        <ignoreFiles>
            <directory name="vendor"/>
        </ignoreFiles>
    </projectFiles>

    <issueHandlers>
        <UndefinedInterfaceMethod>
            <errorLevel type="info">
                <referencedMethod name="Illuminate\Contracts\Validation\Validator::validateWithBag" />
            </errorLevel>
            <errorLevel type="info">
                <referencedMethod name="Illuminate\Contracts\Auth\Authenticatable::forceFill" />
            </errorLevel>
            <errorLevel type="info">
                <referencedMethod name="Illuminate\Contracts\Filesystem\Filesystem::url" />
            </errorLevel>
        </UndefinedInterfaceMethod>
        <NoInterfaceProperties>
            <errorLevel type="info">
                <file name="src/Http/Middleware/UpdateUserLastSeenMiddleware.php" />
            </errorLevel>
        </NoInterfaceProperties>
        <UndefinedMethod>
            <errorLevel type="info">
                <referencedMethod name="Illuminate\Config\Repository::create" />
            </errorLevel>
        </UndefinedMethod>
    </issueHandlers>
<plugins><pluginClass class="Psalm\LaravelPlugin\Plugin"/></plugins></psalm>
